﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - VNEXPRESS</title>
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>

    <!--ctrl k d-->
    <div class="top-bar">
        <div class="main-bar">
            <div class="contact-left">
                <a>(028) 12345</a>
                <a>(028) 12345</a>
                <button>Liên hệ quảng cáo</button>
                <button class="btn-like">Like</button>
                <button class="btn-follow">Follow</button>
                <button class="btn-youtube">Youtube</button>
            </div>
            <div class="login-right">
                <button>Đăng nhập</button>
                <button>Đăng kí</button>

                <input placeholder="Tìm kiếm" />
            </div>
        </div>
    </div>
   
    <div>@RenderBody()</div>

</body>
</html>
